/* | Resets Default Styles | */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --color-blue: #00539A;
    --color-navy: #022b4e;;
    --color-green: #09a813;
    --color-violet: #6a14d3;
    --color-white: #FFFFFF;
    --color-dark: #1A2B45;
    --color-ltcyan: #31d2ff;
    --color-gold: #fff534;
    --color-red: #FF0000;


    --font-main: 'EB Garamond', serif;
    --font-reg: 'Playfair Display', Arial, sans-serif;
    --font-bold: 'Merriweather', Arial, sans-serif;


    --spacing-sm: 0.75rem;
     --spacing-md: 1.5rem;
     --spacing-lg: 3rem;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    background-color: #ebfaff;
}

/* | Navigation | */
header{
    background-color: var(--color-blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.50);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200;
    padding: 1rem 2rem;
    margin: 0 auto;
    font-family: var(--font-bold);
}

.navLogo {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-links a:hover {
    color: var(--color-gold);
}



/* | Hero Image | */
#hero {
    position: relative;
    background-image: url(../images/cia1.png);
    background-size: cover;
    background-position: center;
    min-height: 25rem;
    display: flex;
    align-items: center;
    font-family: var(--font-bold);
    overflow: hidden;
}

/* The Overlay of Dark on the Image of Hero */
#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.65);
}

.hero-content {
    position: relative;
    max-width: 700px;
    margin: 0 2rem;
    text-align: left;
    color: var(--color-white);
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.hero-content .intro-text {
    max-width: 38rem;
    margin-bottom: 1.5rem;
}

.hero-sub-content {
    color: var(--color-ltcyan);
    font-size: 0.9rem;
    border: 2px solid var(--color-ltcyan);
    border-radius: 8px;
    background-color: rgba(49, 210, 255, 0.2);
    font-family: var(--font-reg);
}

#btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-ltcyan);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s;
}

#btn a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-white);
    font-family: var(--font-bold);
    font-weight: bold;
}

#btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#btn1 {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    text-decoration: none;
    border-radius: 8px;
}

#btn1 a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--font-bold);
    font-weight: bold;
}

#btn1:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* CIA TRIAD SECTION */

.cia-info {
    max-width: 700px;
    margin-top: 2rem;
    margin-left: 300px;
    text-align: left;
    z-index: 1;
}

.cia-sub {
    color: var(--color-ltcyan);
    font-weight: bold;
}

.cia-info h2 {
    font-size: 50px;
}

.cia-desc {
    color: #5f7591;
    font-weight: bold;
    font-size: 17px;
}



/* | Card Section | */
.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.cia-card {
    width: 20rem;
    flex: 1 1 220px;
    background-color: var(--color-white);
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.50);
}

.cia-card h3 {
    font-size: 30px;
}

.cia-card1 {
    border-top: 5px solid #0077ff;
    border-radius: 1rem;
}

.cia-card2 {
    border-top: 5px solid #09a813;
    border-radius: 1rem;
}

.cia-card3 {
    border-top: 5px solid #ff0000;
    border-radius: 1rem;
}

.quote-text {
    color: var(--color-blue);
    font-weight: bold;
    margin-bottom: 1rem;
}

.quote-text1 {
    color: var(--color-green);
    font-weight: bold;
    margin-bottom: 1rem;
}

.quote-text2 {
    color: var(--color-red);
    font-weight: bold;
    margin-bottom: 1rem;
}

.emoji-key {
    width: 50px;
    height: 50px;

    background-color: #a2f3ff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    border: 2px solid transparent;
}

.emoji-check {
    width: 50px;
    height: 50px;

    background-color: #75ff75;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    border: 2px solid transparent;
}

.emoji-signal {
    width: 50px;
    height: 50px;

    background-color: #ff8080;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    border: 2px solid transparent;
}

.highlight-text {
    margin-top: 2rem;
    background-color: rgba(255, 112, 112, 0.291);
}

.conf-highlight {
    color: #ff0000;
}

.conf-highlight1 {
    color: #870000;
}

.integ-highlight {
    color: #FF0000;    
}

.integ-highlight1 {
    color: #870000;
}

.avail-highlight {
    color: #FF0000;
}

.avail-highlight1 {
    color: #870000;
}

/* | CIA CARD FOOTER SECTION |*/

.cia-card-footer {
    display: flex;
    gap: 1rem;
    border: 2px solid #4ce7ff;
    border-radius: 5px;
    background-color: rgba(190, 238, 253, 0.65);
}

.emoji-lightbulb {
    font-size: 2rem;
    margin-top: 1rem;
}

.triad-footer-text {
    color: var(--color-dark);
    padding: 1rem;
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
}

/* The Three Data States Section */

.tsd-info {
    max-width: 700px;
    margin-top: 2rem;
    margin-left: 300px;
    text-align: left;
    z-index: 1;
}

.tsd-sub {
    color: var(--color-ltcyan);
    font-weight: bold;
}

.tsd-info h2 {
    font-size: 50px;
}

.tsd-desc {
    color: #5f7591;
    font-weight: bold;
    font-size: 17px;
}

.tsd-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    flex: 1 1 220px;
    background-color: var(--color-white);
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.50);
    gap: 0.50rem;
}

.tsd-card h3 {
    font-size: 20px;
    color: #003d73;
}

.tsd-example {
    color: #5f7591;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.tsd-emoji {
    font-size: 2rem;
}

.tsd-footer {
    display: flex;
    gap: 1rem;
    border: 2px solid #4ce7ff;
    border-radius: 5px;
    background-color: rgba(190, 238, 253, 0.65);
}

.tsd-footer-text {
    color: var(--color-dark);
    padding: 1rem;
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
}

/* Authentication Section */

.authentication {
    background-color: #042441;
}

.auth-info {
    max-width: 700px;
    margin-top: 2rem;
    margin-left: 300px;
    text-align: left;
    z-index: 1;
}

.auth-sub {
    color: #00aaff;
    font-weight: bold;
}

.auth-info h2 {
    font-size: 50px;
    color: var(--color-white);
}

.auth-desc {
    color: var(--color-ltcyan);
    font-weight: bold;
    font-size: 17px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.auth-card {
    width: 20rem;
    flex: 1 1 220px;
    background-color: #0d304a;
    border: 0.7px solid #4ce7ff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.50);
}

.auth-card h2 {
    font-size: 50px;
    color: #00a0cd;
}

.auth-card h3 {
    font-size: 20px;
    color: var(--color-white);
}

.auth-card p {
    color: var(--color-ltcyan);
    font-size: 17px;
    font-weight: bold;
}

/* | AUTHENTICATION FOOTER SECTION |*/

.auth-footer {
    display: flex;
    gap: 1rem;
    border: 0.7px solid #4ce7ff;
    border-radius: 5px;
    background-color: #0d304a;
}

.auth-footer-text strong {
    color: var(--color-white);
}

.auth-footer-text {
    color: var(--color-ltcyan);
    font-weight: bold;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.auth-emoji-key {
    font-size: 2rem;
    margin-top: 1rem;
}